.App {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: auto;
  padding-bottom: 50px;
}

input {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.indigo {
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  flex: 1;
  padding: auto;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  border: 2px;
  border-color: #282c34;
  border-style: solid;
}

.Results {
  float: left;
  position: relative;
  width: 100%;
  background-color: #ffffff;

  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  padding: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
